@charset "UTF-8";
/* @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@600&display=swap');

* {font-family: 'Gowun Batang', serif;}

body {
	margin: 0 auto;
	text-align: center;
	min-width: 1280px;
}

#container { 
	padding: 20px 0;
	min-height: 764px;
	
 }


textarea {
	border: 1px solid #b0b0b0;
	padding: 0 10px;
	resize: none;
}

ul { 
	list-style-type: none;
	align-items: center;
	padding: 0;
	margin-bottom: 0px;
}
/* 로딩이미지 */
.loading {display: none;}

a:link, a:visited{ text-decoration: none; color:  inherit;}

/* 클래스도 추가해줘서 안보이게 처리해주기 */
#delete, #attach-file, #delete-file, .attach-file, .delete-file { display:none; }
.date + #delete { position:relative; right: 30px; } /*처음엔 안보이게  위치는 태그를 기준으로 relative*/
#preview img, .preview img { max-width:100px; }



.font { font-size: 20px }
.font-b {font-size: 20px; color : #3367d6; }
.font-g {font-size: 20px; color : #008000; }
.font-r {font-size: 20px; color : #ff0000; }


/* input에 있던! */
.chk{
	width: 70%;
	height: 45px;
	padding: 0 10px;
	font-size: 15px;
	border: 1px solid #d9d8d8;
	margin: 5px;
}


.box {
	width: 300px;

}


.btn_login {
	width: 665px;
	height: 40px;
	border-radius: 5px;
	
}


/* 버튼 만들어줄 스타일이 필요하다! */
.btnSet {
	margin: 20px auto;
}



a.btn-fill, a.btn-empty {
	height: 28px; padding: 3px 15px;
	border: 1px solid #b4b8d9; 
	border-radius: 3px;
	box-shadow: 2px 2px 3px #60658a;
	color: #fff;
}

/* 채워진 버튼 하나 */
a.btn-fill {
	background-color:#b4b8d9; color: #fff;
}
/* 안채워진 버튼! */
a.btn-empty {
	background-color: #fff; color: #7b80ab;
}


/* textarea꾸미려고 준비중 */

textarea {
 	border : 1px solid #b0b0b0;
 	padding: 0 10px;
 	resize: none; /* 크기 맘대로 조정못하게 하는거 */
}

textarea[name=content] {
	height: 250px;
}


#list-top {
	margin: 0 auto;
	display: flex; 
	justify-content: space-between;
}

#list-top ul { display: flex;} 
#list-top ul li:not(:first-child) { margin-left: 5px} 




/* 미리보기 이미지 크게 해주려고 하는거야! 뒷배경 어둡게 하는 처리! */
#popup-background {
	position: absolute;
	left: 0;
	top : 0;
	width: 100%;
	height: 100%;
	background-color:  #000;
	opacity: 0.3; /* 투명도! */
	display: none; /*  block은 확인한 다음 none으로 바꿀예정*/
}

#popup {
	width: 500px;
	height: 400px;
/* 	border: 2px solid #666; */
	display: none;
}

#popup img {
	width: 100%; /* 위에 500px 꽉 차게 100%로 해주기 */
	height: 100%;
}




.left { text-align: left }
.right { text-align: right }
.full { width: calc(100% - 22px) }


div.valid { color: #008000; font-size: 14px ; font-weight:  bold;}
div.invalid { color: #ff0000; font-size: 14px ;font-weight:  bold;}



/* 회원가입 우편주소 */
.full { width: calc(96% - 19px) }



.center {
	position: absolute;
	left: 50%; top: 40%;
	transform: translate(-50%, -50%)	
}

.page-list { display: flex;  justify-content: center; line-height: 36px }
.page-list span, .page-list a {
	width: 38px; height: 38px; 
	margin: 1px;	border: 1px solid transparent; 
}
.page-list span {
	border: 1px solid #904ab5;  color:  #904ab5;
}

.page-list a:hover {
	background-color: rgba(234, 213, 245);
}

.btnSet {
	margin: 20px auto;
}


table { margin: 0 auto;  border-collapse:collapse; }
table tr { height: 46px; }
table.tb-list tr { height: 38px; }
table th, table td { border: 0.5px solid black;}
table td { padding: 8px 10px; }
table th { background-color:#b4b8d9 }
table td a:hover {font-weight: bold; color: #a181de;}


a:link, a:visited{ text-decoration: none; color:  inherit;}



.w-px40 { width:40px }
.w-px50 { width:50px }
.w-px60 { width:60px }
.w-px70 { width:70px }
.w-px80 { width:80px }
.w-px90 { width:90px }
.w-px100 { width:100px }
.w-px120 { width:120px }
.w-px140 { width:140px }
.w-px160 { width:160px }
.w-px180 { width:180px }
.w-px200 { width:200px }
.w-px250 { width:250px }
.w-px300 { width:300px }
.w-px350 { width:350px }
.w-px400 { width:400px }
.w-px500 { width:500px }
.w-px600 { width:600px }
.w-px800 { width:800px }
.w-px1000 { width:1000px }
.w-px1200 { width:1200px }

