<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE tiles-definitions PUBLIC
       "-//Apache Software Foundation//DTD Tiles Configuration 3.0//EN"
       "http://tiles.apache.org/dtds/tiles-config_3_0.dtd">
<tiles-definitions>
	
	<definition name = 'layout' template="/WEB-INF/views/tiles/layout.jsp">
    <!-- 이경로에 있는것을 템플릿으로 쓰려고 한다. -->
	<!-- 타일 조각을 3개로 선언했다 header, footer, container -->
	<put-attribute name="header" value = '/WEB-INF/views/include/header.jsp'></put-attribute>
	<put-attribute name="footer" value = '/WEB-INF/views/include/footer.jsp'></put-attribute>
	</definition>

   <definition name = '*/*'  extends="layout">
	    <put-attribute name="container" value = '/WEB-INF/views/{1}/{2}.jsp'/>
	</definition>
	
	  <definition name = 'default/*/*'  template="/WEB-INF/views/tiles/default.jsp">
	    <put-attribute name="container" value = '/WEB-INF/views/{1}/{2}.jsp'/>
	</definition>
	
	
	<!-- 여기는 home.jsp 도 해당되게 하려고 한다. 폴더가 따로 없으니까  views폴더 바로 다음에 와야 한다!-->
	<definition name = '*' extends="layout">
	    <put-attribute name="container" value = '/WEB-INF/views/{1}.jsp'/>
	</definition>
</tiles-definitions>       