<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<!-- 회원가입처리 -->
<insert id="join">
	insert into member (mb_name, mb_email, mb_pw, admin, mb_address, mb_tell, mb_addressmore, mb_post, salt, saltpw, mb_gender)
	values (  #{mb_name}
	 		, #{mb_email}
	 		, #{mb_pw}
			, 'N'
			, #{mb_address}
			, #{mb_tell}
			, #{mb_addressmore, jdbcType = VARCHAR}
			, #{mb_post, jdbcType = VARCHAR}
			, #{salt}
			, #{saltpw}
			, #{mb_gender}
			)
</insert>

<!--회원가입 아이디 중복체크  -->
<select id="id_check" resultType="Integer">
select count(*) from member where mb_email = #{mb_email}
</select>

<!--  로그인시 회원의 salt 조회해오기-->
<select id="salt" resultType="String">
	select salt from member where mb_email = #{mb_email}
</select>


<!-- 로그인 -->
<select id="login" resultType="member.MemberDTO">
	select * from member where mb_email = #{mb_email} and mb_pw = #{mb_pw}
</select>
</mapper>